<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

php_value post_max_size 512M
php_value upload_max_filesize 256M
php_value memory_limit 1024M
php_value max_input_vars 10000
php_value max_execution_time 600
php_value max_input_time 600
