<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteCond %{HTTP_HOST} !^(www\.)?fintou\.com$ [NC]
    RewriteRule ^robots\.txt$ robots-disallow.txt [L]
        
# Security Headers
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	#Header set X-Frame-Options "SAMEORIGIN"
	#Header set X-Content-Type-Options "nosniff"
	
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

	# Header set Content-Security-Policy ...
	Header always set Content-Security-Policy: upgrade-insecure-requests
	Header set Referrer-Policy "same-origin"
	Header set Feature-Policy "geolocation 'self'; vibrate 'none'"
	
	Header always set Feature-Policy "camera 'none'; microphone 'none'; geolocation 'none'"

    Header always set Permissions-Policy "camera=(), microphone=(), geolocation=()"

</IfModule>

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    
</IfModule>
